APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.ejp-portonovo.com

DB_HOST=...
DB_PORT=3306
DB_DATABASE=...
DB_USERNAME=...
DB_PASSWORD=...

SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=.ejp-portonovo.com

FRONTEND_URL=https://ejp-portonovo.com
SANCTUM_STATEFUL_DOMAINS=ejp-portonovo.com,www.ejp-portonovo.com

GOOGLE_REDIRECT_URI=${APP_URL}/api/google/callback
