@import "tailwindcss";
.banner{
    /* min-height: 100vh; */
    background: url(./assets/worship.jpg) center/cover, url(./assets/IMG-20250409-WA0013.jpg) center/cover, url(./assets/IMG-20250520-WA0007.jpg) center/cover, url(./assets/IMG-20250527-WA0010.jpg) center/cover;
    /* min-height: 100vh; */
}

.banner {
    background: url(./assets/worship.jpg) center/cover no-repeat;
    animation: slideShow 20s infinite;
}

@keyframes slideShow {
    0%   { background: url(./assets/worship.jpg) center/cover; }
    25%  { background: url(./assets/FB_IMG_1757700691093.jpg) center/cover; }
    50%  { background: url(./assets/FB_IMG_1757700997382.jpg) center/cover; }
    75%  { background: url(./assets/FB_IMG_1757701105299.jpg) center/cover; }
    100% { background: url(./assets/picture.jpeg) center/cover; }
}

.background-dark{
    background-color: #101922;
} 

.banner-fij{
    background: url(./assets/FB_IMG_1757701105299.jpg) center/cover ;
}

.perspective-1000 {
    perspective: 1000px;
}

/* .thecard {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    backface-visibility: hidden;
}

.theback {
    backface-visibility: hidden;
    transform: rotateY(180deg); 
} 
    */
.perspective-1000 {
    perspective: 1000px;
    }

    .thecard {
    transform-style: preserve-3d;
    }

    .backface-hidden {
    backface-visibility: hidden;
    }

    .rotate-y-180 {
    transform: rotateY(180deg);
    }